
.control-panel {
    position: relative;
    animation: slideIn 1.5s forwards; 
}

@keyframes slideIn {
    from {
        transform: translateX(-100%);
        opacity: 0; 
    }
    to {
        transform: translateX(0);
        opacity: 1; 
    }
}

.prehome-screen {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .button-container {
    position: absolute; 
    top: 75%; 
    left: 80%;
    transform: translate(-50%, -50%);
    z-index: 1;
  }

  .logo-container {
    position: absolute; 
    top: 32%; 
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
  }

  @keyframes breathing {
    0% {
      transform: scale(1);
      opacity: 1;
    }
    50% {
      transform: scale(1.01);
      opacity: 1;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }
  
  
  .logo {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    height: 40px;
    font-size: 110px;
    z-index: 0; 
    

  }

  @keyframes slideInFromTop {
    0% {
      transform: translateY(-100%);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

  .logo h2 {
    /* font-family: 'Figtree', sans-serif; */
    font-family: 'moonhouse';
    color: #585858;
    animation: breathing 3s ease-in-out infinite;
    animation: slideInFromTop 1s ease-out;
  }

  @font-face {
    font-family: 'moonhouse';
    src: url('moonhouse.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  .svg-logo {
    position: absolute;
    top: 20px; 
    right: 20px; 
    width: 30px; 
    height: 30px; 
    z-index: 2  ;
  }

  .gravel {
    position: absolute;
    left: 62%;
    top: 27%;
    rotate: 15deg;
  }
  
  .gravel2 {
    position: absolute;
    left: 59%;
    top: 30%;
    rotate: 19deg;
  }

  .gravel3 {
    position: absolute;
    left: 63%;
    top: 32.5%;
    rotate: 15deg;
  }
