
.control-panel {
    position: relative;
    animation: slideIn 1.5s forwards; 
}

@keyframes slideIn {
    from {
        transform: translateX(-100%);
        opacity: 0; 
    }
    to {
        transform: translateX(0);
        opacity: 1; 
    }
}

.prehome-screen {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .button-container {
    position: absolute; 
    top: 30%; 
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
  }
  
