.panel {
    background-color: #969eb5;
    position: fixed;
    top: 20px; 
    left: 20px;   
    width: 250px;  
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4); 
    border-radius: 15px; 
    padding: 20px;
    height: calc(100vh - 80px);
    z-index: 100; 
    /* justify-content: center; */
    /* align-items: center; */
  }

  .header {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    margin-left: 15px;
    margin-right: 38px;
    height: 40px
  }

  .header h2 {
    /* font-family: 'moonhouse'; */
    font-family: 'Orbitron', sans-serif;

  }

  .header h3 {
    font-family: 'Figtree', sans-serif;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    margin: 10px 0;
    font-family: 'Figtree', sans-serif;
  }

  .simulate-button {
    margin-bottom: -100px;
    align-items: center;
    justify-content: center;
    display: flex;
  }
  
  
  @font-face {
    font-family: 'moonhouse';
    src: url('moonhouse.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  .result-screen{
    position: absolute;
    top: 16%; 
    left: 260%;
    height: 20px;
    width: 400px;
    font-size: larger;
    font-family: 'Figtree', sans-serif;


  }